<!doctype html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>
        <title>{% block title %}{{ SITENAME }}{%endblock%} || HackIT {{ hm.year }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/skeleton/css/normalize.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/skeleton/css/skeleton.css" />
        {% assets filters="libsass", output="theme.css", "main.scss" %}
        <link rel="stylesheet" href="{{SITEURL}}/{{ASSET_URL}}">
        {% endassets %}
        {% assets filters="libsass", output="fonts.css", "fonts/fonts.scss" %}
        <link rel="stylesheet" href="{{SITEURL}}/{{ASSET_URL}}">
        {% endassets %}

        {% if FAVICON %}
            <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
        {% endif %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% block extra_head %}{%endblock%}
    </head>
    <body class="{% block body_classes %} {%endblock%}">
        <div id="logo-div">
            <!-- img id="logo-img" class="pulse" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png"
                style="width: 15vw" / -->
                <a href="#" title="menu">
                <img id="logo-img"
                     class="pulse"
                     alt="MENU"
                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/hamburger24_color.png"
                     style="width: 15vw" />
                </a>
        </div>
        <div id="all-wrapper">
            <div class="row" id="header-row">
                <div class="u-full-width column">
                    <header>
                <a href="{{ SITEURL }}/">
                <img id="logo-header"
                     alt="HACKMEETING"
                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logoHM24_color2_sito.png"
                     style="width: 60vw" />
                </a>
                    </header>
                </div>
            </div>
            <div class="row" id="menu-row">
                <button onclick='menu_hide()'>close</button>
                <div class="four columns">&nbsp;</div>
                <div class="four columns">
                <nav><ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                    <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
                </ul></nav>
                </div>
                <div class="four columns">&nbsp;</div> <!-- column -->
            </div><!-- menu-row -->
            <div class="row" id="content-row">
                <div class="u-full-width column">
                    {% block content %} {% endblock content %}
                </div><!-- content column -->
            </div>
        </div>
        <div id="menu-noscript-row">
                <nav><ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                    <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
                </ul></nav>
        </div><!-- #menu-noscript-row -->
        <div id="overlay"></div>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/ruotalogo.js"></script>
    </body>
</html>
